body {
  width: 100vw;
  background: grey;
}

.data {
  word-break: break-all;
}

.toolbox {
  width: 140px;
  overflow: auto;
}

.activeType {
  background: yellow;
}

#can {
  background: #fff;
}

.corlorRadio {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  border: solid 3px #fff;
}

.corlorRadio.active {
  transform: scale(1.5)
}